*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card{
    font-family: 'Roboto', sans-serif;
    border-radius: 0.74vw;
    box-shadow: 0px 0.37vw 1.48vw #1818189a;
    margin: 1.48vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    align-items: center;
    min-width: 40%;
    padding: 0.74vw;
}


.statList , .typeList, .spriteList, .moveList{
    list-style: none;
}

.spriteList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 10px;
}

.spriteListItem{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.spriteTitle{
    text-transform: uppercase;
    font-weight: bold;
}

.sprite{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid black;
}